<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert, um Ihr Passwort zu 채ndern. Klicken Sie auf den unten aufgef체hrten Link um das Passwort zu 채ndern.</p>

<p><%= link_to 'Neues Passwort setzen', api_v1_edit_password_url(reset_password_token: @token) %></p>

<p>Bitte ignorieren Sie diese E-Mail, wenn Sie kein neues Passwort angefordert haben.</p>
<p>Das Passwort wird nicht ge채ndert bis Sie den obenstehenden Link abrufen und ein neues Passwort bestimmen.</p>
